.projects-section {
    padding: 20px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    flex: 1 1 300px; /* Grow and shrink as needed, with a minimum width of 300px */
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.project-header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 2px;
}

.project-date {
    margin-right: 0px;
    font-size: small;
    color: grey;
}

.project-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.project-link {
    margin-top: auto;
    color: #007BFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-link:hover {
    text-decoration: underline;
}
